.saludos-container {
    padding: 1rem;
    font-family: var(--fuente-base);
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
}

.saludo {
    border: 5px solid var(--verde);
    border-radius: 35px;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    transition: all 0.3 ease;
}

.saludo.desplegado {
    padding: 1rem 1.75rem;
    background-color: var(--naranja);
    border: none;
    color: black;
}

.saludo .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.saludo .titulo {
    font-family: var(--fuente-titulo);
    color: var(--naranja);
    font-size: 1.3rem;
    text-transform: uppercase;
}

.saludo.desplegado .titulo {
    color: black;
}

.saludo .icono {
    font-size: 40px;
    color: var(--naranja);
    transition: color 0.3s;
}

.saludo.desplegado .icono {
    color: black;
}

.saludo .separador {
    border: none;
    border-bottom: 2px solid var(--verde);
    margin: 0.75rem 0;
}

.saludo .contenido {
    font-family: var(--fuente-base);
    margin-top: 1rem;
}

.saludo .mensaje {
    font-size: 1.1rem;
    line-height: 1.5;
}

.saludo .autor {
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    margin-top: 1rem;
}

/*-------------------- RESPONSIVE --------------------*/

@media (max-width: 780px) {
    .saludo {
        border: 4px solid var(--verde);
    }
    .saludo .header {
        align-items: center;
    }
    .saludo .icono {
        font-size: 30px;
        margin: 0.3rem;
    }
    .saludo .titulo {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .saludo {
        border: 3px solid var(--verde);
    }
    .saludo .icono {
        font-size: 26px;
    }
    .saludo .titulo {
        font-size: 1.1rem;
    }
    .saludo .mensaje {
        font-size: 1rem;
    }
}